.why-choose-us {
  text-align: center;
  padding: 50px 0;
}

.why-choose-us h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 250px;
  padding: 20px;
  margin: 0 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #5279c2;
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
}

.small-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.small-card {
  width: 200px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #87a1d5;
  border-top: 2px solid blue;
}

.small-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.small-card p {
  font-size: 14px;
  color: #666;
}
